In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Orders_with_issues.csv')
# previews THE Dataframe

print(df.head())

   OrderID CustomerID   OrderDate ShippedDate        ShippingCost ShipCountry  \
0   1000.0       C001  2025-05-17  2025-07-30  -57.25454602444980     Germany
1   1001.0       C002  2025-01-26  2025-07-30              320.61      Canada
2   1002.0       C003  2025-03-08  2025-07-30              165.17      Canada
3   1003.0       C004  2025-03-24  2025-07-30               12.55     Germany
4   1004.0       C005  2025-04-15  2025-07-30              186.36      Canada

    ShipCity                 ShippingCompany
0    Hamburg  Kiwilytics Goods Shipping LLC.
1   Montreal                   UPS Worldwide
2  Vancouver                 FedEx Logistics
3     Munich            Aramex International
4  Vancouver                 FedEx Logistics

In [3]:
# Summary statistics for Dataframe
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   OrderID          239 non-null    float64
 1   CustomerID       240 non-null    object
 2   OrderDate        237 non-null    object
 3   ShippedDate      219 non-null    object
 4   ShippingCost     231 non-null    object
 5   ShipCountry      245 non-null    object
 6   ShipCity         241 non-null    object
 7   ShippingCompany  245 non-null    object
dtypes: float64(1), object(7)
memory usage: 15.4+ KB
None

In [4]:
# check for missing values
print(df.isna().sum())

OrderID             6
CustomerID          5
OrderDate           8
ShippedDate        26
ShippingCost       14
ShipCountry         0
ShipCity            4
ShippingCompany     0
dtype: int64

In [5]:
# unique shipping companys

print(df['ShippingCompany'].unique())

# counts of unique shipping companies

print(df['ShippingCompany'].value_counts(ascending=False))

# unique ShippingCountrys
print(df['ShipCountry'].unique())

# counts of unique shipping countries

print(df['ShipCountry'].value_counts(ascending=False))

['Kiwilytics Goods Shipping LLC.' 'UPS Worldwide' 'FedEx Logistics'
 'Aramex International' 'DHL Express']
ShippingCompany
FedEx Logistics                   54
DHL Express                       53
Aramex International              51
UPS Worldwide                     46
Kiwilytics Goods Shipping LLC.    41
Name: count, dtype: int64
['Germany' 'Canada' 'USA' 'Egypt' 'UK' 'Palestine']
ShipCountry
UK           56
USA          49
Canada       45
Egypt        41
Germany      38
Palestine    16
Name: count, dtype: int64

In [6]:
print(df.describe())

           OrderID
count   239.000000
mean   1121.610879
std      71.057522
min    1000.000000
25%    1060.500000
50%    1122.000000
75%    1182.500000
max    1244.000000

In [7]:
print(df.head(10))

   OrderID CustomerID   OrderDate ShippedDate        ShippingCost ShipCountry  \
0   1000.0       C001  2025-05-17  2025-07-30  -57.25454602444980     Germany
1   1001.0       C002  2025-01-26  2025-07-30              320.61      Canada
2   1002.0       C003  2025-03-08  2025-07-30              165.17      Canada
3   1003.0       C004  2025-03-24  2025-07-30               12.55     Germany
4   1004.0       C005  2025-04-15  2025-07-30              186.36      Canada
5   1005.0       C006  2024-12-24  2025-07-30               74.93         USA
6   1006.0       C007         NaN  2025-07-30              229.93         USA
7   1007.0       C008  2024-08-10  2025-07-30              209.94     Germany
8   1008.0       C009  2025-02-06  2025-07-30                 NaN         USA
9   1009.0       C010  not_a_date  2025-07-30              394.37         USA

      ShipCity                 ShippingCompany
0      Hamburg  Kiwilytics Goods Shipping LLC.
1     Montreal                   UPS Worldwide
2    Vancouver                 FedEx Logistics
3       Munich            Aramex International
4    Vancouver                 FedEx Logistics
5     New York                   UPS Worldwide
6  Los Angeles            Aramex International
7       Berlin            Aramex International
8      Houston                     DHL Express
9      Chicago  Kiwilytics Goods Shipping LLC.

In [8]:
# convert orderdate to datetime

df['OrderDate']= pd.to_datetime(df['OrderDate'],errors='coerce')

# convert shippingdate to datetime

df['ShippedDate']= pd.to_datetime(df['ShippedDate'],errors='coerce')

# check datatypes
print(df.dtypes)

# convert shippingCost to numeric
df["ShippingCost"]= pd.to_numeric(df["ShippingCost"],errors='coerce')

# change negative shippingcost to null value

df.loc[df['ShippingCost']<0,'ShippingCost']=np.nan

df['ShippingCost'] = df['ShippingCost'].fillna(df['ShippingCost'].median())

OrderID                   float64
CustomerID                 object
OrderDate          datetime64[ns]
ShippedDate        datetime64[ns]
ShippingCost               object
ShipCountry                object
ShipCity                   object
ShippingCompany            object
dtype: object

In [11]:
# handle missing values in orderId Fill First row data
df['OrderID'] = df["OrderID"].fillna(method='ffill')

print('OrderID is Nulls = ',df['OrderID'].isna().sum())

# handle missing values in CustomerID fill with unknown

df['CustomerID'] = df['CustomerID'].fillna('Unknown')

print('CustomerID is Nulls = ',df['CustomerID'].isna().sum())

# handle missing values in Shipcity fill with unspecified

df['ShipCity']= df['ShipCity'].fillna('Unspecified')

print("ShipCity is nulls = ",df['ShipCity'].isna().sum())

OrderID is Nulls =  0
CustomerID is Nulls =  0
ShipCity is nulls =  0

C:\Users\khalil\AppData\Local\Temp\ipykernel_11336\2135184549.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['OrderID'] = df["OrderID"].fillna(method='ffill')

In [24]:
# Standardize Names 

df['ShipCountry'] = df['ShipCountry'].str.strip().str.title()
df['ShipCity'] = df['ShipCity'].str.strip().str.title()

df['ShippingCompany'] = df['ShippingCompany'].str.strip()

df.loc[df['ShippingCompany'].str.contains('Kiwilytics',na=False),'ShippingCompany']='Kiwilytics Goods Shipping LLC.'

 Feauter Engineering

In [13]:
# create deliveryDays column clculating the difference between shippingdate and ordwrdate

df['DeliveryDay'] = (df['ShippedDate']-df['OrderDate']).dt.days

df.head()

,OrderID,CustomerID,OrderDate,ShippedDate,ShippingCost,ShipCountry,ShipCity,ShippingCompany,DeliveryDay
0,1000.0,C001,2025-05-17,2025-07-30,234.09,Germany,Hamburg,Kiwilytics Goods Shipping LLC.,74.0
1,1001.0,C002,2025-01-26,2025-07-30,320.61,Canada,Montreal,UPS Worldwide,185.0
2,1002.0,C003,2025-03-08,2025-07-30,165.17,Canada,Vancouver,FedEx Logistics,144.0
3,1003.0,C004,2025-03-24,2025-07-30,12.55,Germany,Munich,Aramex International,128.0
4,1004.0,C005,2025-04-15,2025-07-30,186.36,Canada,Vancouver,FedEx Logistics,106.0

In [16]:
# Flags
def get_status(x):
    if pd.isna(x):
        return "Unknown"
    elif x > 15:
        return "Late"
    else:
        return "OnTime"

df['DeliveryStatus'] = df['DeliveryDay'].apply(get_status)

In [17]:
# Domestic vs International


def check_domestic(country):
    if country in domestic_countries:
        return "Yes"
    else:
        return "No"

domestic_countries = ["Germany"]

df['IsDomestic'] = df['ShipCountry'].apply(check_domestic)

df.head()

,OrderID,CustomerID,OrderDate,ShippedDate,ShippingCost,ShipCountry,ShipCity,ShippingCompany,DeliveryDay,DeliveryStatus,IsDomestic
0,1000.0,C001,2025-05-17,2025-07-30,234.09,Germany,Hamburg,Kiwilytics Goods Shipping LLC.,74.0,Late,Yes
1,1001.0,C002,2025-01-26,2025-07-30,320.61,Canada,Montreal,UPS Worldwide,185.0,Late,No
2,1002.0,C003,2025-03-08,2025-07-30,165.17,Canada,Vancouver,FedEx Logistics,144.0,Late,No
3,1003.0,C004,2025-03-24,2025-07-30,12.55,Germany,Munich,Aramex International,128.0,Late,Yes
4,1004.0,C005,2025-04-15,2025-07-30,186.36,Canada,Vancouver,FedEx Logistics,106.0,Late,No

Grouping

In [25]:
# Grouping examples
avg_shipping_by_company = df.groupby("ShippingCompany")['ShippingCost'].mean()
print("📊 Avg Shipping Cost by Company:")
print(avg_shipping_by_company)

📊 Avg Shipping Cost by Company:
ShippingCompany
Aramex International              255.897451
DHL Express                       233.282830
FedEx Logistics                   229.702037
Kiwilytics Goods Shipping LLC.    244.036829
UPS Worldwide                     257.032174
Name: ShippingCost, dtype: float64

In [26]:
# Export, Reporting & Wrap-up
# Export cleaned file
df.to_csv("cleaned_orders_final.csv)",index=False)

# Final summary
print("\n✅ Final Dataset Snapshot:")
print(df.head())

print("\n📈 Delivery Status Breakdown:")
print(df['DeliveryStatus'].value_counts())


print("\n🌎 Orders by Country:")
print(df['ShipCountry'].value_counts())

print("\n🌎 Orders by City:")
print(df['ShipCity'].value_counts())

print("\n📦 Top 3 Shipping Companies:")

print(df['ShippingCompany'].value_counts().head(3))

✅ Final Dataset Snapshot:
   OrderID CustomerID  OrderDate ShippedDate  ShippingCost ShipCountry  \
0   1000.0       C001 2025-05-17  2025-07-30        234.09     Germany
1   1001.0       C002 2025-01-26  2025-07-30        320.61      Canada
2   1002.0       C003 2025-03-08  2025-07-30        165.17      Canada
3   1003.0       C004 2025-03-24  2025-07-30         12.55     Germany
4   1004.0       C005 2025-04-15  2025-07-30        186.36      Canada

    ShipCity                 ShippingCompany  DeliveryDay DeliveryStatus  \
0    Hamburg  Kiwilytics Goods Shipping LLC.         74.0           Late
1   Montreal                   UPS Worldwide        185.0           Late
2  Vancouver                 FedEx Logistics        144.0           Late
3     Munich            Aramex International        128.0           Late
4  Vancouver                 FedEx Logistics        106.0           Late

  IsDomestic
0        Yes
1         No
2         No
3        Yes
4         No

📈 Delivery Status Breakdown:
DeliveryStatus
Late       190
Unknown     50
OnTime       5
Name: count, dtype: int64

🌎 Orders by Country:
ShipCountry
Uk           56
Usa          49
Canada       45
Egypt        41
Germany      38
Palestine    16
Name: count, dtype: int64

🌎 Orders by City:
ShipCity
Liverpool      21
Montreal       19
Manchester     18
Giza           18
London         16
Munich         14
Chicago        13
Toronto        13
Cairo          13
Houston        13
Gaza           12
New York       12
Vancouver      12
Hamburg        12
Berlin         11
Los Angeles    11
Alexandria      9
Unspecified     4
Al Quds         4
Name: count, dtype: int64

📦 Top 3 Shipping Companies:
ShippingCompany
FedEx Logistics         54
DHL Express             53
Aramex International    51
Name: count, dtype: int64

Exploratory Data Analysis

You learned how to inspect raw data, identify data quality issues, and understand column types, missing values, and distributions.
Data Cleaning Techniques You practiced handling:

Invalid or missing dates
Non-numeric and negative values in cost fields
Nulls in critical columns like OrderID, CustomerID, and ShipCity
Inconsistent formatting and standardization
Feature Engineering
You created new features like:

DeliveryDays: the number of days between order and shipment
DeliveryStatus: a flag for late vs on-time shipments
IsDomestic: to distinguish local vs international orders
Exporting Cleaned Data
You prepared a final, cleaned dataset ready for analytics, reporting, or loading into a database.